# Dynamic configuration
http:
  routers:
    api:
      rule: "Host(`traefik.{{ domain }}`)"
      service: "api@internal"
      entrypoints: "traefik"
    consul:
      rule: "Host(`consul.{{ domain }}`)"
      service: "consul"
      entrypoints: "http"

  services:
    consul:
      loadBalancer:
        servers:
          - url: "http://consul.mmagnani.lab:8500"